scripts = jvm.bsh, zabbix.bsh, ibm/was.bsh, oracle/wls.bsh, javax/jms.bsh , traps.bsh, http.bsh, sql.bsh, spring.bsh, soap.bsh, rest.bsh, libs.bsh, ldap.bsh, jsf.bsh, jdbc/oracle.bsh, jdbc/mssql.bsh, javax.bsh, ibm/ibm.bsh, ejb.bsh, apache/cxf.bsh, apache/axis2.bsh, apache/axis.bsh, apache/apache.bsh
was.user = {{ was_user }}
was.pass = {{ was_pass }}
zabbix.server.addr = {{ zabbix_server_addr }}
zabbix.listen.port = {{ zabbix_listen_port }}
zorka.hostname = {{ zorka_hostname }}
http.trace.exclude = ~.*.png, ~.*.gif, ~.*.js, ~.*.css, ~.*.jpg, ~.*.jpeg, ~.*favicon.ico
traps = yes
traps.slow = yes
traps.error = yes
traps.slow.time = 10000
traps.zabbix = yes
traps.zabbix.addr = {{ zabbix_server_addr }}
traps.zabbix.host = {{ zorka_hostname }}
sql.slow = yes
sql.slow.time = 10000
sql.error = yes
http.slow = yes
http.slow.time = 10000
http.error = yes
jms.slow = yes
jms.slow.time = 10000
jms.error = yes
soap.slow = yes
soap.slow.time = 10000
soap.error = yes
ejb.slow = yes
ejb.slow.time = 10000
ejb.error = yes
zabbix.active = yes
zabbix.active.sender.interval = 60
zabbix.active.server.addr = {{ zabbix_server_addr }}
